body {
    margin: 26px;
}

label {
    display: inline;
}

summary::-webkit-details-marker {
    display: none;
}

.bg-aw{
    background: grey no-repeat center center;
}
.preferences{
}
.header{
    flex-direction: row;
}