<link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />

<h1>Restaurant List:</h1>

<p><a href="/dish/aw">A&W</a></p>

<p><a href="/dish/tran">Chez Tran</a></p>

<p><a href="/dish/fred">Chez Fred</a></p>

<style>

body {
    margin-left: 26px;
}

</style>