<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"> </script>

<h1>Chez OO Menu</h1>
<input type="text" id="box" value="">
<ul id="menu" class="menu">
</ul>