<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<select id="sort">
  <option value="price">Price</option>
  <option value="popularity">Popularity</option>
</select>

<h1>Chez Tran Menu</h1>
<ul id="menu" class="menu">
</ul>


<script type='text/javascript'>
  $('#sort').change(function() {
      if($(this).val() == "popularity"){
        $("#menu").empty();
        $("#menu").append(
              "<h3>Appetizer</h3>" + 
              "<p>Jalapeno Poppers<i> $4.99</i>: Jalapeno Peppers baked and stuffed with ground beef. </p>" +
              "<p>Lentil Soup<i> $3.99</i>: A hearty lentil soup. </p>" +
              "<h3>Main Course</h3>" + 
              "<p>Tonkotsu Ramen<i> $11.5</i>: Pork ramen server in a tonkotsu broth with chasu. </p>" +
              "<p>Margherita Pizza<i> $10</i>: Pizza cooked in our stone oven, topped with mozzarella, tomato sauce, and basil. </p>" +
              "<p>Chorizo Tacos<i> $6</i>: 3 Tacos filled with chorizo and wrapped in corn tortillas.</p>" +
              "<p>Salmon Sashimi<i> $15</i>: Salmon that has imported straight from Japan. </p>" +
              "<p>Paneer Spinach Curry<i> $7</i>: Spinach curry made with paneer cheese. Serverd with naan bread. </p>" +
              "<p>Chicken with Vegetables<i> $9</i>: Steamed chicken, served with a side of broccoli and potatoes. </p>" +
              "<h3>Dessert</h3>" + 
              "<p>Cheesecake<i> $4</i>: A fluffy, strawberry cheesecake made in house. </p>" 
            );
      }
      else if($(this).val() == "price"){
        $("#menu").empty();
        $("#menu").append(
              "<h3>Appetizer</h3>" + 
              "<p>Lentil Soup<i> $3.99</i>: A hearty lentil soup. </p>" +
              "<p>Jalapeno Poppers<i> $4.99</i>: Jalapeno Peppers baked and stuffed with ground beef. </p>" +
              "<h3>Main Course</h3>" + 
              "<p>Chorizo Tacos<i> $6</i>: 3 Tacos filled with chorizo and wrapped in corn tortillas. </p>" +
              "<p>Paneer Spinach Curry<i> $7</i>: Spinach curry made with paneer cheese. Serverd with naan bread. </p>" +
              "<p>Chicken with Vegetables<i> $9</i>: Steamed chicken, served with a side of broccoli and potatoes.</p>" +
              "<p>Margherita Pizza<i> $10</i>: Pizza cooked in our stone oven, topped with mozzarella, tomato sauce, and basil. </p>" +
              "<p>Tonkotsu Ramen<i> $11.5</i>: Pork ramen server in a tonkotsu broth with chasu. </p>" +
              "<p>Salmon Sashimi<i> $15</i>: Salmon that has imported straight from Japan.  </p>" +
              "<h3>Dessert</h3>" + 
              "<p>Cheesecake<i> $4</i>: A fluffy, strawberry cheesecake made in house. </p>" 
            );
      }
  });

  $("#menu").append(
              "<h3>Appetizer</h3>" + 
              "<p>Lentil Soup <i>$3.99</i>: A hearty lentil soup.</p>" +
              "<p>Jalapeno Poppers<i> $4.99</i>: Jalapeno Peppers baked and stuffed with ground beef.</p>" +
              "<h3>Main Course</h3>" + 
              "<p>Chicken with Vegetables<i> $9</i>: Steamed chicken, served with a side of broccoli and potatoes. </p>" +
              "<p>Paneer Spinach Curry<i> $7</i>: Spinach curry made with paneer cheese. Serverd with naan bread. </p>" +
              "<p>Tonkotsu Ramen<i> $11.5</i>: Pork ramen server in a tonkotsu broth with chasu. </p>" +
              "<p>Chorizo Tacos<i> $6</i>: 3 Tacos filled with chorizo and wrapped in corn tortillas. </p>" +
              "<p>Salmon Sashimi<i> $15</i>: Salmon that has imported straight from Japan.  </p>" +
              "<p>Margherita Pizza<i> $10</i>: Pizza cooked in our stone oven, topped with mozzarella, tomato sauce, and basil. </p>" +
              "<h3>Dessert</h3>" + 
              "<p>Cheesecake<i> $4</i>: A fluffy, strawberry cheesecake made in house.</p>" 
            );
</script>