<link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />


<h1>Choose which restaurant to add items to:</h1>

<p><a href="/dish/inputform/aw">A&W</a></p>

<p><a href="/dish/inputform/tran">Chez Tran</a></p>

<style>

        body {
            margin: 26px;
        }
        
    </style>