<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script>
    function setLocalStorage(input) {
      input.each(function (index) {
        var element = $(this);
        if(element.is(':input[type=number]')){
          localStorage.setItem(element.attr('name'), element.val())
          console.log(element.attr('name') +" set to "+ localStorage.getItem(element.attr('name')))
          return;
        }
        if(element.hasClass('active')){
          localStorage.setItem(element.attr('name'), true);
        }else{
          localStorage.setItem(element.attr('name'), false);
        }
        console.log(element.attr('name') +" set to "+ localStorage.getItem(element.attr('name')))
      })
    }

    function savePreferences() {
      console.log('Clicked submit');

      var $buttons = $('button:button')
      var $fields = $(':input[type="number"]')
      setLocalStorage($buttons);
      setLocalStorage($fields);

    }
</script>
<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <nav class="breadcrumb bg-transparent">
            <a class="breadcrumb-item" href="/dish">Home</a>
            <a class="breadcrumb-item active">Preferences</a>
        </nav>
    </nav>
    <a class="nav-link" href="/dish">Back to menus</a>
    <div class="page-header">
        <h1>Preferences</h1>
    </div>
    <label>Dietary Restrictions</label>
    <div class="btn-group-toggle">
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="vegetarian">
            Vegetarian
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="halal">
            Halal
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="kosher">
            Kosher
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="lactose intolerant">
            Lactose intolerant
        </button>
    </div>
    <label>Cuisine</label>
    <div class="btn-group-toggle">
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="asian">
            Asian
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="indian">
            Indian
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="american">
            American
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="spanish">
            Spanish
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="middle-eastern">
            Middle Eastern
        </button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="button" aria-pressed="false" name="african">
            African
        </button>
    </div>
    <label for="name" style="font-weight:bold">Price</label><br>
    <input type="number" name="entree-price" placeholder="Max entree price" /><br>
    <input type="number" name="appetizer-price" placeholder="Max appetizer price" /><br>
    <input type="number" name="dessert-price" placeholder="Max dessert price" /><br>
    <input type="number" name="drink-price" placeholder="Max drink price" /><br><br>
    <button class="btn-primary" name="submit" onclick="savePreferences()">Submit</button><br>
</div>

<script>
  var buttons = $('button[type="button"]')
  var $fields = $(':input[type="number"]')
  $(document).ready(function () {
    for(var i = 0; i < buttons.length; i++){
      var button = buttons[i];
      if(localStorage.getItem(button.name) === 'true') {
        button.className += " active"
        button.setAttribute("checked", true);
        button.setAttribute("aria-checked", true)
      }
    }
    for(var i = 0; i < $fields.length; i++){
      var field = $fields[i];
      if(localStorage.getItem(field.name) !== undefined){
        field.setAttribute("value", localStorage.getItem(field.name))
      }
    }
  })
</script>