<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<h1>Chez OO Preferences</h1>
<a href="/dish">Back</a>
<script>
    function setLocalStorage(input) {
      input.each(function (index) {
        var element = $(this);
        if(element.is(':input[type=number]')){
          localStorage.setItem(element.attr('name'), element.val())
          console.log(element.attr('name') +" set to "+ localStorage.getItem(element.attr('name')))
          return;
        }
        if(element.is(':checked')){
          localStorage.setItem(element.attr('name'), true);
        }else{
          localStorage.setItem(element.attr('name'), false);
        }
        console.log(element.attr('name') +" set to "+ localStorage.getItem(element.attr('name')))
      })
    }

    function savePreferences() {
      console.log('Clicked submit');

      var $checkboxes = $('input:checkbox')
      var $fields = $(':input[type="number"]')
      setLocalStorage($checkboxes);
      setLocalStorage($fields);

    }
</script>
<fieldset>
  <details>
    <summary>
        <label for="name" style="font-weight:bold">Dietary Restrictions</label><br>
    </summary>
        <input type="checkbox" name="vegetarian" />Vegetarian<br>
        <input type="checkbox" name="halal" />Halal<br>
        <input type="checkbox" name="kosher" />Kosher<br>
        <input type="checkbox" name="lactose intolerant" />Lactose intolerant<br>
  </details>
  <details>
    <summary>
        <label for="name" style="font-weight:bold">Cuisine</label><br>
    </summary>
        <input type="checkbox" name="asian" />Asian<br>
        <input type="checkbox" name="indian" />Indian<br>
        <input type="checkbox" name="american" />American<br>
        <input type="checkbox" name="spanish" />Spanish<br>
        <input type="checkbox" name="middle-eastern" />Middle Eastern<br>
        <input type="checkbox" name="african" />African<br>
  </details>
  <details>
    <summary> 
        <label for="name" style="font-weight:bold">Price</label><br>
    </summary>
        <input type="number" name="entree-price" placeholder="Max entree price" /><br>
        <input type="number" name="appetizer-price" placeholder="Max appetizer price" /><br>
        <input type="number" name="dessert-price" placeholder="Max dessert price" /><br>
        <input type="number" name="drink-price" placeholder="Max drink price" /><br><br>
  </details>
        <button name="submit" onclick="savePreferences()">Submit</button><br>
</fieldset>

<script>
  var $checkboxes = $('input:checkbox')
  var $fields = $(':input[type="number"]')
  $(document).ready(function () {
    for(var i = 0; i < $checkboxes.length; i++){
      var checkbox = $checkboxes[i];
      if(localStorage.getItem(checkbox.name) === 'true') {
        checkbox.setAttribute("checked", true);
      }
    }
    for(var i = 0; i < $fields.length; i++){
      var field = $fields[i];
      if(localStorage.getItem(field.name) !== undefined){
        field.setAttribute("value", localStorage.getItem(field.name))
      }
    }
  })
</script>